@import "../../global.scss";

.works {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  

  .title{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;

    h1{
      font-size: 50px;
      color: white;
    }
  }



  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
                height: 100%;
              }
            }
            h2 {
              font-size: 20px;
              color: black;
            }
            p {
              font-size: 13px;
              color: #1a2c42;
            }
            span {
              font-size: 14px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
            a {
              color: black;

              &:hover {
                color: #ecaf44;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            border-radius: 10px;
            box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
          }
        }
      }
    }
  }
}
